After=network.target

[Service]
User=nginx
Group=nginx
RuntimeDirectory=flask-app
WorkingDirectory=/opt/app
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/run/flask-app/flask-app.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
